@tailwind base;
@tailwind components;
@tailwind utilities;


.login-container{
    background-image: url('https://i.ibb.co/1GfyKWf/pngwing-com-6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}